In [2]:
import pandas as pd
import numpy as np
import datetime as dt
df=pd.read_csv("movies.csv")
df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876,10876,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134,203134,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615,373615,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819,1087521,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328,12506188,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336,141475336,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745,233700000,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

1.	 (i). Find out the no of movies released in every month of the year 1995.

In [ ]:
df['Release Date']
from datetime import datetime

(ii). Find out the no. of movies released in every year from 1990 to 1998.

2.	(i). Find no. of movies released under each genre given in the database.

In [13]:
t=df.groupby(['Major Genre'])['Title'].apply(list)
print(t)
for i in t:
    print(len(i))

Major Genre
Action                 [Three Kingdoms: Resurrection of the Dragon, 3...
Adventure              [20,000 Leagues Under the Sea, 20,000 Leagues ...
Black Comedy           [Brazil, Fengkuang de Shitou, Faithful, My Own...
Comedy                 [I Married a Strange Person, Let's Talk About ...
Concert/Performance    [DysFunkTional Family, Hannah Montana/Miley Cy...
Documentary            [The Blood of My Brother: A Story of Death in ...
Drama                  [First Love, Last Rites, Slam, 12 Angry Men, T...
Horror                 [April Fool's Day, Anatomie, Braindead, Dracul...
Musical                [Oliver!, 42nd Street, Annie Get Your Gun, Ali...
Romantic Comedy        [Four Weddings and a Funeral, Among Giants, Th...
Thriller/Suspense      [Chacun sa nuit, Arachnophobia, Arnolds Park, ...
Western                [The Alamo, Butch Cassidy and the Sundance Kid...
Name: Title, dtype: object
420
274
36
675
5
43
789
219
53
137
239
36

(ii). Find the movies under each genre with IMDB rating >7 and rotten tomatoes rating > 60.

In [14]:
df['Rotten Tomatoes Rating'].fillna(0,inplace=True)
df
df2=df.loc[(df['IMDB Rating']>7) & (df['Rotten Tomatoes Rating']>60)]
df2['Title']

11                    Oliver!
12      To Kill A Mockingbird
24      2001: A Space Odyssey
28           Twin Falls Idaho
33                42nd Street
                ...
3158             The Wrestler
3172                    X-Men
3180      You Can Count on Me
3191       The Young Victoria
3195               Zombieland
Name: Title, Length: 597, dtype: object

3.	(i). Find the movies released under each fiction with each director in the ascending order of release dates.

(ii). Find movies released under each distributor in the order of genre and director.

In [15]:
df.groupby(['Distributor','Major Genre'])['Director'].apply(list)

Distributor                Major Genre
20th Century Fox           Action         [James Cameron, John Woo, Andrew Davis, nan, R...
                           Adventure      [nan, Roland Emmerich, Rob Reiner, Jean-Jacque...
                           Comedy         [Patrick Read Johnson, Penny Marshall, nan, Ti...
                           Drama          [nan, nan, Edward Zwick, Barbet Schroeder, Geo...
                           Horror         [nan, Richard Donner, nan, Ridley Scott, Paul ...
                                                                ...
Women Make Movies          Documentary                                                [nan]
Yari Film Group Releasing  Drama                                                      [nan]
Yash Raj Films             Comedy                                                     [nan]
                           Drama                                            [nan, nan, nan]
Zeitgeist                  Drama                                            [nan, nan, nan]
Name: Director, Length: 452, dtype: object

4.	(i). Find the movies released world-wide and find out the revenue received world-wide other than US with their ratings.

In [26]:
df['Worldwide Gross'] = df['Worldwide Gross'].astype(str).astype(int)
#df['revenue']=df['Worldwide Gross']-df['US Gross']
#df
df.info()

ValueError: invalid literal for int() with base 10: 'Unknown'

(ii). Find the movies with loss & profit released in each year with genre and ratings.